@color-severity-emergency: #ff2200;
@color-severity-emergency-fg: @text-color-inverted;
@color-severity-alert: #ff4400;
@color-severity-alert-fg: @text-color-inverted;
@color-severity-critical: #ff6600;
@color-severity-critical-fg: @text-color-inverted;
@color-severity-error: #ff8800;
@color-severity-error-fg: @text-color-inverted;
@color-severity-warning: @color-warning; // same as @color-warning
@color-severity-warning-fg: @text-color;
@color-severity-notice: @color-ok; // same as @color-ok;
@color-severity-notice-fg: @text-color-inverted;
@color-severity-informational: #aaaaff;
@color-severity-informational-fg: @text-color;
@color-severity-debug: #ccc;
@color-severity-debug-fg: @text-color;

a:focus {
  outline: none;
  text-decoration: underline;
}

thead tr[href]:hover {
  background-color: inherit;
  cursor: unset;
}

table.common-table td {
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}

.border-emergency {
  border-color: @color-severity-emergency;
}

.border-alert {
  border-color: @color-severity-alert;
}

.border-critical {
  border-color: @color-severity-critical;
}

.border-error {
  border-color: @color-severity-error;
}

.border-warning {
  border-color: @color-severity-warning;
}

.border-notice {
  border-color: @color-severity-notice;
}

.border-informational {
  border-color: @color-severity-informational;
}

.border-debug {
  border-color: @color-severity-debug;
}

.badge {
  background-color: transparent;
  margin-left: 1px;
  border: 2px solid transparent;
  position: relative;
  &.severity-emergency {
    border-color: @color-severity-emergency;
  }

  &.severity-alert {
    border-color: @color-severity-alert;
  }

  &.severity-critical {
    border-color: @color-severity-critical;
  }

  &.severity-error {
    border-color: @color-severity-error;
  }

  &.severity-warning {
    border-color: @color-severity-warning;
  }

  &.severity-notice {
    border-color: @color-severity-notice;
  }

  &.severity-informational {
    border-color: @color-severity-informational;
  }

  &.severity-debug {
    border-color: @color-severity-debug;
  }

  &.priority {
    padding-right: 1.25em;
    &:before {
      font-family: 'ifont';
      position: absolute;
      right: 0.25em;
    }
    &.priority-lowest {
      background-color: rgba(255, 0, 0, 0.1);
      border-color: rgba(255, 0, 0, 0.5);
      &:before {
        content: "\e828"; // down-big
      }
    }
    &.priority-low {
      background-color: rgba(255, 0, 0, 0.3);
      border-color: rgba(255, 0, 0, 0.5);
      &:before {
        content: "\e875"; // down-small
      }
    }
    &.priority-normal {
      background-color: rgba(255, 0, 0, 0.5);
      border-color: rgba(255, 0, 0, 0.5);
      &:before {
        content: "\e877"; // right-small
      }
    }
    &.priority-high {
      background-color: rgba(255, 0, 0, 0.7);
      border-color: rgba(255, 0, 0, 0.5);
      &:before {
        content: "\e878"; // up-small
      }
    }
    &.priority-highest {
      background-color: rgba(255, 0, 0, 0.9);
      border-color: rgba(255, 0, 0, 0.5);
      &:before {
        content: "\e825"; // up-big
      }
    }
  }
}

.filter-badges {
  background-color: @text-color;
  color: @text-color-inverted;
  padding: 0.3em 1em;
  border-radius: 0.5em;
}

.badge.priority.disabled {
  background-color: @gray !important;
  color: white;
}

.badge.active {
  color: @text-color-inverted;
  &.severity-emergency {
    background-color: @color-severity-emergency;
  }

  &.severity-alert {
    background-color: @color-severity-alert;
  }

  &.severity-critical {
    background-color: @color-severity-critical;
  }

  &.severity-error {
    background-color: @color-severity-error;
  }

  &.severity-warning {
    background-color: @color-severity-warning;
  }

  &.severity-notice {
    background-color: @color-severity-notice;
  }

  &.severity-informational {
    background-color: @color-severity-informational;
  }

  &.severity-debug {
    background-color: @color-severity-debug;
  }
}

table.common-table {
  border-collapse: separate;
  border-spacing: 0 1px;
  table.common-table {
    border-left: 0;
  }
}

.severity-col {
  width: 8em;
  white-space: nowrap;
  border-left: 5px solid;
  text-align: center;
  margin-right: 1em;
  padding: 0.33em 1em;
  &.emergency {
    border-left-color: @color-severity-emergency;
    background-color: @color-severity-emergency;
    color: @color-severity-emergency-fg;

    &.ack {
      color: inherit;
      background-color: inherit;
    }
  }

  &.critical {
    border-left-color: @color-severity-critical;
    background-color: @color-severity-critical;
    color: @color-severity-critical-fg;

    &.ack {
      color: inherit;
      background-color: inherit;
    }
  }

  &.alert {
    border-left-color: @color-severity-alert;
    background-color: @color-severity-alert;
    color: @color-severity-alert-fg;

    &.ack {
      color: inherit;
      background-color: inherit;
    }
  }

  &.error {
    border-left-color: @color-severity-error;
    background-color: @color-severity-error;
    color: @color-severity-error-fg;

    &.ack {
      color: inherit;
      background-color: inherit;
    }
  }

  &.warning {
    border-left-color: @color-severity-warning;
    background-color: @color-severity-warning;
    color: @color-severity-warning-fg;

    &.ack {
      color: inherit;
      background-color: inherit;
    }
  }

  &.notice {
    border-left-color: @color-severity-notice;
  }

  &.informational, &.info {
    border-left-color: @color-severity-informational;
  }

  &.debug {
    border-left-color: @color-severity-debug;
  }

  span.time-ago {
    display: block;
    font-weight: normal;
  }
}

div.output {
  position: relative;
  min-height: 10em;
  border-width: 1px;
  border-style: solid;
  border-left-width: 2em;
  border-radius: 1em 0 0 1em;
  margin-bottom: 0.5em;
  h2 {
    margin: 0;
    position: absolute;
    padding: 0.3em 1em;
    border: none;
    font-weight: normal;
    font-size: 1em;
    color: @text-color-inverted;
    text-align: center;
    text-transform: uppercase;
    transform: rotate(-90deg) translateX(-120%);
    transform-origin: -1em 1em;
    display: block;
    width: 10em;
  }
  pre {
    margin: 0;
    padding: 1em;
    color: @text-color;
    background: transparent;
    overflow: auto;
    white-space: pre-wrap;
  }
  table pre {
    padding: 0;
    margin: 0;
  }

  &.comment {
    border-left-width: 0.3em;
    padding-left: 1.7em;
    h2 {
      color: @text-color;
      transform: rotate(-90deg) translateX(-100%);
    }
  }

  &.ack {
    border-left-width: 0.3em;
    padding-left: 1.7em;
    h2 {
      color: @text-color;
    }
  }
}

div.activities {
  height: 10em;
  overflow: auto;
}

pre a {
  text-decoration: none;
  color: @icinga-blue;
  &:hover {
    text-decoration: underline;
  }
}

input[type=submit]:disabled {
  color: @gray !important;
}
input[type=submit]:disabled + i:before {
  color: @gray;
}

form.inline {
  select {
    width: auto;
    min-width: unset;
    max-width: unset;
    border: none;
    padding: 0 0.5em;
    margin: 0;
    line-height: unset;
    box-sizing:border-box;
    height: 1.5em;

    &:hover {
      border: none;
    }

    &:focus {
      border: none;
    }
  }
  input[type=submit] {
    padding: 0 0.25em;
    margin: 0;
    margin-right: 1em;
    border: none;
    line-height: unset;
    box-sizing: border-box;
  }
}

/** QuickSearch (aus vSphereDB) **/
form.quicksearch {
  display: block;
  input.search {
    width: 8em;
    min-width: unset;
    border: none;
    background-size: 0.75em auto;
    background-position: 0.5em 0.9em;
    padding-left: 1.5em;
    margin-left: 1.5em;
    font-size: 0.75em;
    font-weight: normal;
    &:focus {
      width: 16em;
      .transition(width 0.5s ease);
      border: none;
    }
  }
}

#layout.twocols form.quicksearch input.search {
  float: right;
}
/** END of QuickSearch (aus vSphereDB) **/


/** Action Bar **/
div.action-bar a, div.action-bar form i {
  color: @icinga-blue;
}

div.action-bar a.badge {
  color: inherit;
}

div.action-bar > a {
  margin-right: 1em;
}

div.action-bar {
  > * {
    vertical-align: middle;
  }
  .pagination-control {
    float: none;
    clear: none;
    display: inline-block;
    line-height: inherit;
    margin: 0;
  }

  form input {
    margin: 0;
  }
}

#layout.twocols div.action-bar .pagination-control {
  li {
    display: none;
  }

  li:nth-child(1), li.active, li:last-child {
    display: list-item;
  }

  li.active a {
    border-bottom: none;
  }
}

/** Dropdown in action bar **/
div.action-bar ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
    a { display: block; }
  }
}

div.action-bar > ul {
  display: inline-block;
  > li {
    display: inline-block;
  }
}

div.action-bar > ul ul {
  padding: 0.5em 1em 1em 0em;
  min-width: 10em;
  position: absolute;
  display: none;
  color: @text-color-inverted;
  background-color: @icinga-blue;
  border-radius: 0.4em;
  border-top-left-radius: 0;
  box-shadow: 1em 1em 1em 0 rgba(0, 0, 0, 0.2);

  a {
    display: block;
    padding: 0.3em 0.5em 0.3em 1em;
    margin: 0;
    outline: none;
    color: @text-color-inverted;

    &:hover {
      text-decoration: underline;
      &:before {
        text-decoration: none;
      }
    }
  }

  li.active a {
    font-weight: bold;
  }
}

div.action-bar > ul > li:hover ul {
  display: block;
}
div.action-bar > ul > li > a {
  padding: 0.2em 0.5em;
}
div.action-bar > ul > li:hover {
  background-color: @icinga-blue;
  border-top-left-radius: 0.4em;
  border-top-right-radius: 0.4em;
  & > a {
    color: @text-color-inverted;
    text-decoration: none;
  }
}
/** END of dropdown in action bar **/
